.modal-btn {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }
}
.dropdown-btn {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.dropdown-search-wrapper {
  justify-content: center;
  position: relative;
  position: sticky;
  padding: 20px;
  top: 0;
  z-index: 1000;
  background-color: $dark;
  box-shadow: 0px 2px 25px 0px black;
  border-bottom: solid 1px $gray-500;

  input {
    border: none;

    &:focus {
      transition: none;
      border-color: $focus-colour;
      outline: solid 4px $focus-colour;
      box-shadow: none;
    }
  }
}
.modal-search-wrapper {
  justify-content: center;
  position: relative;
  position: sticky;
  padding: 20px;
  top: 0;
  background-color: $dark;
  box-shadow: 0px 2px 25px 0px black;
  border-bottom: solid 1px $gray-500;

  input {
    border: none;

    &:focus {
      transition: none;
      border-color: $focus-colour;
      outline: solid 4px $focus-colour;
      box-shadow: none;
    }
  }
}

.search-component {
  width: 100%;

  .btn {
    border-width: 2px;
    border-radius: 6px;

    font-weight: 600;
    font-size: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
      padding: 6px;

      svg {
        display: none;
      }
    }

    &:hover {
      background-color: $dark;
      color: white;
      svg path {
        fill: white;
      }
    }
    &:focus {
      box-shadow: none;
      color: $focus-text-colour;
      background-color: $focus-colour;
      text-decoration: underline;

      svg path {
        fill: $focus-text-colour;
      }
    }
  }

  .search-settings {
    padding: 10px 10px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      flex-direction: column-reverse;
      padding: 0;
    }

    .filters {
      display: flex;
      justify-content: space-evenly;

      @include media-breakpoint-down(xl) {
        justify-content: start;
        margin-top: 15px;
        flex-wrap: wrap;
      }

      // #toggleCollection { @include media-breakpoint-down(xl) { display: none; } }
      // #toggleMuseum { @include media-breakpoint-down(xl) { display: none; } }
      // #toggleArtist { @include media-breakpoint-down(xl) { display: none; } }
      // #toggleDate { @include media-breakpoint-down(xl) { display: none; } }
      // #toggleTags { @include media-breakpoint-down(xl) { display: none; } }

      #toggleFilters {
        svg {
          margin-right: 5px;
          transform: translate(4%, -6%);

          @include media-breakpoint-down(sm) {
            width: 20px;
            height: 20px;
            margin-right: 2px;
          }
        }

        #modalMenuMoreFilters {
          display: block;

          @include media-breakpoint-down(xl) {
            display: none;
          }
        }
        #modalMenuFilters {
          display: none;
          // @include media-breakpoint-down(xl) {
          //   display: block;
          // }
        }
      }

      .dropdown {
        margin-right: 10px;
        @include media-breakpoint-down(xl) {
          margin-right: 5px;
          margin-top: 5px;
        }

        @include media-breakpoint-down(md) {
          button {
            font-size: 1rem;
          }
        }

        .dropdown-menu {
          background-color: white;
          border: solid $gray-700 1px;
          border-radius: 6px;
          min-width: 600px;
          max-height: 400px;
          overflow-y: scroll;
          position: relative;

          ul {
            list-style: none;
            padding-left: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
        }
        .dropdown-menu.show {
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
    .view-toggles {
      button {
        margin-left: 10px;
        @include media-breakpoint-down(xl) {
          margin-left: 0;
          margin-top: 5px;
        }
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }

        &:hover {
          svg path {
            fill: $light;
          }
        }
        &:focus {
          svg path {
            fill: $focus-text-colour;
          }
        }

        svg {
          margin-right: 5px;
          transform: translate(4%, -6%);

          @include media-breakpoint-down(sm) {
            width: 20px;
            height: 20px;
            margin-right: 2px;
          }
        }
      }

      .btn-light {
        svg path {
          fill: $dark;
        }
        /*
        @media (prefers-color-scheme: light) {
          color: $light;
          background-color: $gray-600;
          border-color: $gray-600;

          svg path {
            fill: $light;
          }
          
          &:focus {
            background-color: $focus-colour;
            color: $focus-text-colour;
            svg path {
              fill: $focus-text-colour;
            }
          }
        }
        */
      }
      .btn-outline-light {
        svg path {
          fill: $gray-500;
        }
        /*
        @media (prefers-color-scheme: light) {
          color: $dark;
          border-color: $dark;

          svg path {
            fill: $dark;
          }
          
          &:hover {
            color: $light;
          }
          &:focus {
            color: $focus-text-colour;
          }
        }
        */
      }
    }
  }

  .selection-item {
    font-weight: 600;
    color: #767676;
    padding: 10px;
    font-size: 1.125rem;
    width: 50%;
    margin: 0;

    &:focus-within {
      .form-check-input {
        outline: solid $focus-colour 4px !important;
        border: solid $focus-text-colour 3px !important;
      }
    }
    .form-check-label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .form-check-input {
        background-color: $light;
        border: solid #767676 2px;
        min-width: 34px;
        min-height: 34px;
        margin: 0px 10px 0px 0px;
        border-radius: 0.25rem;

        // &::after {
        //   display: none;
        //   position: absolute;
        //   content: "";
        //   top: 11px;
        //   left: 9px;
        //   box-sizing: border-box;
        //   border: solid $focus-text-colour 5px;
        //   border-top-color: transparent;
        //   border-right-color: transparent;
        //   width: 23px;
        //   height: 12px;
        // }

        &:active {
          box-shadow: none;
        }
        &:focus {
          box-shadow: none;
        }
        &:checked {
          box-shadow: none;
          background-color: $light;
          color: $dark;
          // too thick:
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 342.357 342.357' style='enable-background:new 0 0 342.357 342.357%3B' xml:space='preserve'%3E%3Cpolygon points='290.04 33.286 118.861 204.427 52.32 137.907 0 190.226 118.862 309.071 342.357 85.606 '/%3E%3C/svg%3E");
          background-size: 24px 24px;
          // too thin:
          // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px' viewBox='0 0 16 16' version='1.1'%3E%3Crect width='16' height='16' id='icon-bound' fill='none'/%3E%3Cpath d='M0 9.014L1.414 7.6L5.004 11.189L14.593 1.6L16.007 3.014L5.003 14.017L0 9.014Z'/%3E%3C/svg%3E");
          // background-size: 24px 24px;
          // background-image: none;
          // &::after {
          //   display: block;
          // }
        }
      }
      .text-wrapper {
        margin-left: 10px;
        .smaller-text {
          color: $gray-600;
          margin: 0;
          font-size: 16px;
        }
      }
      &:focus-within {
        .text-wrapper .smaller-text {
          color: $focus-text-colour;
        }
      }
    }
  }

  .dropdown-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: sticky;
    bottom: 0px;
    border-top: solid 1px $gray-500;
    background-color: white;
    list-style-type: none;

    .filter-control-btn {
      width: auto;
      border-radius: 5px;
      padding: 5px 15px 5px 15px;
      box-sizing: border-box;
      background-color: white;
      border-color: $dark;
      outline: none;
      box-shadow: none;
      font-weight: 600;
      &:focus {
        background-color: $focus-colour;
        color: $focus-text-colour;
      }
    }

    .filter-control-btn:hover {
      text-decoration: underline;
    }
    .clear-filter {
      color: $gray-700;
      border: none;
      text-decoration: none;
      margin: none;
      padding: none;
    }
    .clear-filter:hover {
      color: black;
    }
    .clear-filter:focus {
      color: $focus-text-colour;
    }
    .apply-filter {
      color: white;
      background-color: #006666;
      border: none;
    }
  }

  .modal-content {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 0;

    .modal-header {
      justify-content: center;
      position: relative;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: white;

      .btn-close {
        background-color: $light;
        position: absolute;
        right: 20px;

        &:focus {
          background-color: $focus-colour;
          box-shadow: none;
          outline: none;
          border: none;
        }
        &:active {
          box-shadow: none;
          outline: none;
          border: none;
        }
      }
    }

    .modal-header-search {
      box-shadow: none;
    }

    .modal-body {
      overflow-y: auto;

      .filter-section {
        padding-top: 10px;

        .section-heading {
          padding-left: 20px;
        }

        .section-list {
          list-style: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;

          .selection-item {
            width: 50%;
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }
        }
      }
    }

    .modal-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      position: sticky;
      bottom: 0;
      background-color: white;

      .dropdown-bottom-section {
        border: none;
        border-top: solid 1px $gray-500;
        border-radius: 0 0 6px 6px;
        list-style: none;
        box-shadow: none;
      }
    }
  }

  .no-results-wrapper {
    display: flex;

    .mascot-wrapper {
      position: relative;
      margin-left: 20px;

      .questionmark {
        position: absolute;
        bottom: 110px;
        right: 120px;
        transform: rotate(15deg);

        font-weight: 700;
        font-size: 32px;
        pointer-events: none;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      .mascot-wrapper {
        margin-left: 0;

        .questionmark {
          bottom: 95px;
          left: 170px;
        }
      }
    }
  }
}

.libraries-search-area {
  max-width: 600px;

  input {
    border: solid black 2px;
    border-radius: 5px 0px 0px 5px;
    min-width: 275px;
    @include media-breakpoint-down(sm) {
      min-width: 0;
    }
    &:focus {
      transition: none;
      border: solid black 2px;
      outline: solid 4px $focus-colour;
      outline-offset: -6px;
      box-shadow: none;
    }
  }
}

#libraries-search-button {
  background-color: #006666;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  box-sizing: border-box;
  min-width: 110px;
  @include media-breakpoint-down(sm) {
    height: 40px;
  }
  &:hover {
    color: white;
    background-color: $dark;
  }
  &:focus {
    transition: none;
    border-color: $focus-colour;
    background-color: $focus-colour;
    color: $focus-text-colour;
    outline: none;
    box-shadow: none;
    path {
      fill: $focus-text-colour;
    }
  }
  &:active:focus {
    box-shadow: none;
  }
  svg {
    transform: translateX(-20%);
    margin-right: 5px;
  }
}

.pagination.libraries-pagination {
  .page-item .page-link {
    color: black;
    font-weight: 600;
  }
  .page-item.disabled .page-link {
    color: $gray-600;
    font-weight: 400;
  }
  .page-item.active .page-link {
    border-color: #006666;
    background-color: #006666;
    transition: none;
    color: white;
  }
  .page-item .page-link,
  .page-item.active .page-link {
    &:focus {
      box-shadow: none;
      background-color: $focus-colour;
      color: $focus-text-colour;
      transition: none;
    }
    &:focus:focus-visible {
      box-shadow: none;
      background-color: $focus-colour;
      color: $focus-text-colour;
      transition: none;
    }
    &:focus:not(:focus-visible) {
      outline: auto;
    }
  }
}

.pagination.libraries-pagination
  .page-item
  .page-link:focus:not(:focus-visible),
.pagination.libraries-pagination
  .page-item.active
  .page-link:focus:not(:focus-visible) {
  outline: solid $focus-text-colour 2px;
}
