{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries, local history and archives</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Your local library</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Find your local library</a></li>
          <li class="breadcrumb-item active">Acle Library</li>
        </ol>
      </nav>
    </div>
  </section>

  <div class="stage" id="libraryStage" style="background-image: url('/Libraries-events/public/img/great_yarmouth_library.jpg')">
  </div>

  <section>
    <div class="container">
      <div class="row {{rowDefaults}}">
        <div class="col-12 col-md-8">
          <h1 class="h2">Acle Library</h1>
          <p>Address: Bridewell Lane, Acle, NR13 3RA</p>
          <p><a href="#">Map showing the location of Acle Library</a></p>
          <p>Email:&nbsp;<a href="#">libraries@norfolk.gov.uk</a></p>
          <ul>
            <li><a href="#">Follow Acle Library on Facebook</a></li>
          </ul>
          <p>Did you know you can&nbsp;<a href="#">renew your library books online</a>? You will need your library card and PIN.</p>
          <h2 class="h4">Opening hours</h2>
          <ul>
            <li>Monday: 8am-7pm (Open Library access only)</li>
            <li>Tuesday: 10am-7pm (8-10am Open Library access only)</li>
            <li>Wednesday: 8am-7pm (Open Library access only)</li>
            <li>Thursday: 10am-7pm (8-10am Open Library access only)</li>
            <li>Friday: 2-7pm (8am-2pm Open Library access only)</li>
            <li>Saturday: 1-4pm (8am-1pm Open Library access only)</li>
            <li>Sunday: 10am-4pm (Open Library Access only)</li>
          </ul>
          <p>Read our <a href="#">library service coronavirus update</a>&nbsp; before visiting.</p>
          <p>You can return items when the library is closed using&nbsp;the letterbox to the left of the main entrance.&nbsp; Please make sure that books drop into the box completely and are not left sticking out.</p>
          <h2 class="h4">Services at Acle Library</h2>
          <ul>
            <li><a href="#">Browse and borrow books and other library items</a></li>
            <li><a href="#">Free access to computers and wifi</a></li>
            <li>Automatic doors</li>
            <li>Public car park nearby</li>
          </ul>
          
          <div class="row {{rowDefaults}}">
            <section aria-labelledby="events-title">
              <h2 id="events-title">Upcoming events at Acle</h2>
              <div class="row {{rowDefaults}}" id="page-1">
                <div class="col-12">
                  {{ generalcard.generalcard('Just a Cuppa', 'Acle • Acle Library', '07 June 2022', '2pm', '', '', 'Free', 'coffee.jpg', '/', 'card-light card-horizontal') }}
                </div>
                <div class="col-12">
                  {{ generalcard.generalcard('Bounce and Rhyme', 'Acle • Acle Library', '09 June 2022', '2:15pm', '', '', 'Free', 'wine.jpg', '/', 'card-light card-horizontal') }}
                </div>
                <div class="col-12">
                  {{ generalcard.generalcard('Lego Club', 'Acle • Acle Library', '10 June 2022', '4pm', '', '', 'Free', 'smoke.jpg', '/', 'card-light card-horizontal') }}
                </div>
                <div class="col-12">
                  {{ generalcard.generalcard('Just a Cuppa', 'Acle • Acle Library', '07 June 2022', '2pm', '', '', 'Free', 'coffee.jpg', '/', 'card-light card-horizontal') }}
                </div>
                <div class="col-12">
                  {{ generalcard.generalcard('Bounce and Rhyme', 'Acle • Acle Library', '09 June 2022', '2:15pm', '', '', 'Free', 'wine.jpg', '/', 'card-light card-horizontal') }}
                </div>
              </div>
            </section>
          </div>
          

          <a href="{{ 'libraries-events-search/' | url }}" class="btn btn-primary btn-libraries btn-libraries-link" style="float: right">See all Acle library events</a>

        </div>
        <div class="col-12 col-md-4">
          <div class="row {{rowDefaults}} mx-2">
            {{ generalcard.generalcard('Renew a library item', '', '', '', '','', 'You can renew library items online using your library card number and PIN', '', '/', 'card-light') }}
          </div>
        </div>
      </div>
    </div>

    <script>

      let currentPage = 1;

      const page1 = document.getElementById("page-1");
      const page2 = document.getElementById("page-2");
      const page3 = document.getElementById("page-3");

      const link1 = document.getElementById("page1-link");
      const link2 = document.getElementById("page2-link");
      const link3 = document.getElementById("page3-link");

      const linkPrev = document.getElementById("page-prev-link");
      const linkNext = document.getElementById("page-next-link");

      window.onload = function() {
        let locationsList = [];
        locationsList.push("Acle");
        let hour = 1/24;
        setCookie('locationsList', locationsList, hour);

        let currentPage = 1;
        page2.style.display = "none";
        page3.style.display = "none";
      } 

      function nextPage() {
        if (currentPage >= 3) return;
        showPage(currentPage + 1);
      }

      function prevPage() {
        if (currentPage <= 1) return;
        showPage(currentPage - 1);
      }

      function showPage(pageNum) {
        
        if (pageNum == 1) {
          page1.style.display = "inline-block";
          page2.style.display = "none";
          page3.style.display = "none";

          link1.classList.add("active");
          link2.classList.remove("active");
          link3.classList.remove("active");

          linkPrev.classList.add("disabled");
          linkPrev.firstElementChild.tabIndex="-1";
          linkNext.classList.remove("disabled");
          linkNext.firstElementChild.tabIndex="0";
          currentPage = 1;

          page1.scrollIntoView();
        } else if (pageNum == 2) {
          page1.style.display = "none";
          page2.style.display = "block";
          page3.style.display = "none";

          link1.classList.remove("active");
          link2.classList.add("active");
          link3.classList.remove("active");

          linkPrev.classList.remove("disabled");
          linkPrev.firstElementChild.tabIndex="0";
          linkNext.classList.remove("disabled");
          linkNext.firstElementChild.tabIndex="0";
          currentPage = 2;

          page2.scrollIntoView();
        } else if (pageNum == 3) {
          page1.style.display = "none";
          page2.style.display = "none";
          page3.style.display = "block";

          link1.classList.remove("active");
          link2.classList.remove("active");
          link3.classList.add("active");

          linkPrev.classList.remove("disabled");
          linkPrev.firstElementChild.tabIndex="0";
          linkNext.classList.add("disabled");
          linkNext.firstElementChild.tabIndex="-1";
          currentPage = 3;

          page3.scrollIntoView();
        } else {
          console.log("pagination error");
        }
      }

      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

    </script>

  </section>
{% endblock %}
