{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries, local history and archives</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">What's on in Norfolk libraries</a></li>
          <li class="breadcrumb-item active">Libraries events search</li>
        </ol>
      </nav>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row {{rowDefaults}}">
        <div class="col-12">
          <h1 class="h2">Libraries events search</h1>
          <p class="text-muted mt-4 mb-2">Enter keywords to search libraries events</p>
          <div class="search-wrapper my-0">
            <form class="form-inline d-flex libraries-search-area" role="search" action="{{ '/' | url }}" aria-label="Libraries events">
              <input class="form-control" type="search" placeholder="" aria-label="Search">
              <button id="libraries-search-button" class="btn btn-outline-light d-inline-flex justify-content-between" type="submit">Find events</button>
            </form>
          </div>
          <div class="row {{rowDefaults}}">
            <div class="search-component">
              <h2 class="mt-2 mb-0">Search filters</h2>
              <div class="search-settings">
                <div class="filters">
                  <form id="locationDropdownForm">
                    <div id="toggleLocation" class="dropdown">
                      <button class="dropdown-btn btn btn-outline-dark" type="button" id="dropdownMenuLocation" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                        Location
                      </button>
                      <button class="modal-btn btn btn-outline-dark" type="button" id="filterModalLocationButton" data-bs-toggle="modal" data-bs-target="#filterModalLocation" aria-expanded="false"  data-bs-auto-close="outside">
                        Location
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLocation">
                        <li class="selection-item">
                          <label class="form-check-label" for="collection1check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Acle" id="collection1check">
                            <div class="text-wrapper">
                              Acle 
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection2check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Attleborough" id="collection2check">
                            <div class="text-wrapper">
                              Attleborough
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection3check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Aylsham" id="collection3check">
                            <div class="text-wrapper">
                              Aylsham
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection4check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Blofield" id="collection4check">
                            <div class="text-wrapper">
                              Blofield
                            </div>
                          </label>
                        </li>

                        <li class="selection-item">  
                          <label class="form-check-label" for="collection5check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Brundall" id="collection5check">
                            <div class="text-wrapper">
                              Brundall
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection6check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Caister" id="collection6check">
                            <div class="text-wrapper">
                              Caister
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection7check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Costessy" id="collection7check">
                            <div class="text-wrapper">
                              Costessy
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection8check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Cromer" id="collection8check">
                            <div class="text-wrapper">
                              Cromer
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection9check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Dereham" id="collection9check">
                            <div class="text-wrapper">
                              Dereham
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection10check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Dersingham" id="collection10check">
                            <div class="text-wrapper">
                              Dersingham
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection11check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Diss" id="collection11check">
                            <div class="text-wrapper">
                              Diss
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection12check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Downham Market" id="collection12check">
                            <div class="text-wrapper">
                              Downham Market
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection13check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Earlham Norwich" id="collection13check">
                            <div class="text-wrapper">
                              Earlham Norwich
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection14check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Fakenham" id="collection14check">
                            <div class="text-wrapper">
                              Fakenham
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection15check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Gaywood" id="collection15check">
                            <div class="text-wrapper">
                              Gaywood
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection16check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Gorleston" id="collection16check">
                            <div class="text-wrapper">
                              Gorleston
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection17check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Great Yarmouth" id="collection17check">
                            <div class="text-wrapper">
                              Great Yarmouth
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection18check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Harleston" id="collection18check">
                            <div class="text-wrapper">
                              Harleston
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection19check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Hellesdon" id="collection19check">
                            <div class="text-wrapper">
                              Hellesdon
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="collection20check">
                            <input type="checkbox" class="form-check-input" name="locationOption" value="Hethersett" id="collection20check">
                            <div class="text-wrapper">
                              Hethersett
                            </div>
                          </label>
                        </li>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersLocation()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersLocation(this.form.locationOption)">Apply filters</button>
                        </div>
                      </ul>
                    </div>
                  </form>
                  <form id="subjectDropdownForm">
                    <div id="toggleSubject" class="dropdown">
                      <button class="dropdown-btn btn btn-outline-dark" type="button" id="dropdownMenuSubject" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                        Subject
                      </button>
                      <button class="modal-btn btn btn-outline-dark" type="button" id="filterModalSubjectButton" data-bs-toggle="modal" data-bs-target="#filterModalSubject" aria-expanded="false"  data-bs-auto-close="outside">
                        Subject
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuSubject">
                        <li class="selection-item">
                          <label class="form-check-label" for="subject1check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Autism-friendly" id="subject1check">
                            <div class="text-wrapper">
                              Autism-friendly
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject2check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Baby and Toddlers" id="subject2check">
                            <div class="text-wrapper">
                              Baby and Toddlers
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject3check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Business & Enterprise" id="subject3check">
                            <div class="text-wrapper">
                              Business & Enterprise
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject4check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Crafting" id="subject4check">
                            <div class="text-wrapper">
                              Crafting
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject5check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Creativity" id="subject5check">
                            <div class="text-wrapper">
                              Creativity
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject6check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Cultural Activities" id="subject6check">
                            <div class="text-wrapper">
                              Cultural Activities
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject7check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Digital" id="subject7check">
                            <div class="text-wrapper">
                              Digital
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject8check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Family Fun" id="subject8check">
                            <div class="text-wrapper">
                              Family Fun
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject9check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Health and Wellbeing" id="subject9check">
                            <div class="text-wrapper">
                              Health and Wellbeing
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject10check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Heritage" id="subject10check">
                            <div class="text-wrapper">
                              Heritage
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject11check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Reading" id="subject11check">
                            <div class="text-wrapper">
                              Reading
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject12check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="SEND" id="subject12check">
                            <div class="text-wrapper">
                              SEND
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject13check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Skills and Training" id="subject13check">
                            <div class="text-wrapper">
                              Skills and Training
                            </div>
                          </label>
                        </li>
                        <li class="selection-item">
                          <label class="form-check-label" for="subject14check">
                            <input type="checkbox" class="form-check-input" name="subjectOption" value="Young People" id="subject14check">
                            <div class="text-wrapper">
                              Young People
                            </div>
                          </label>
                        </li>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersSubject()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersSubject(this.form.subjectOption)">Apply filters</button>
                        </div>
                      </ul>
                    </div>
                  </form>
                  <form id="dateDropdownForm">
                    <div id="toggleDate" class="dropdown">
                      <div class="duet-wrapper">
                        <duet-date-picker id="date" identifier="date" min="2022-01-01" max="2022-12-31"></duet-date-picker>
                      </div>
                      {# <button class="modal-btn btn btn-outline-dark" type="button" id="filterModalDateButton" data-bs-toggle="modal" data-bs-target="#filterModalDate" aria-expanded="false"  data-bs-auto-close="outside">
                        Date range
                      </button> #}
                      {# <ul class="dropdown-menu" aria-labelledby="dropdownMenuDate">
                        (Date picker goes here)
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="S()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="">Apply filters</button>
                        </div>
                      </ul> #}
                    </div>
                  </form>
                </div>
              </div>
              <!-- Modal - Location -->
              <div class="modal fade" id="filterModalLocation" tabindex="-1" aria-labelledby="filterModalLabelLocation" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="locationModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelLocation">Location</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        <div class="filter-section">
                            <ul class="section-list">
                              <li class="selection-item">
                                <label class="form-check-label" for="collection1checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Acle" id="collection1checkModal">
                                  <div class="text-wrapper">
                                    Acle
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection2checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Attleborough"  id="collection2checkModal">
                                  <div class="text-wrapper">
                                    Attleborough
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">  
                                <label class="form-check-label" for="collection3checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Aylsham"  id="collection3checkModal">
                                  <div class="text-wrapper">
                                    Aylsham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection4checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Blofield"  id="collection4checkModal">
                                  <div class="text-wrapper">
                                    Blofield
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection5checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Brundall"  id="collection5checkModal">
                                  <div class="text-wrapper">
                                    Brundall
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection6checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Caister" id="collection6checkModal">
                                  <div class="text-wrapper">
                                    Caister
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection7checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Costessy" id="collection7checkModal">
                                  <div class="text-wrapper">
                                    Costessy
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection8checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Cromer" id="collection8checkModal">
                                  <div class="text-wrapper">
                                    Cromer
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection9checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Dereham"  id="collection9checkModal">
                                  <div class="text-wrapper">
                                    Dereham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection10checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Dersingham" id="collection10checkModal">
                                  <div class="text-wrapper">
                                    Dersingham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection11checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Diss" id="collection11checkModal">
                                  <div class="text-wrapper">
                                    Diss
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection12checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Downham Market" id="collection12checkModal">
                                  <div class="text-wrapper">
                                    Downham Market
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection13checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Earlham Norwich" id="collection13checkModal">
                                  <div class="text-wrapper">
                                    Earlham Norwich
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection14checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Fakenham" id="collection14checkModal">
                                  <div class="text-wrapper">
                                    Fakenham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection15checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Gaywood"  id="collection15checkModal">
                                  <div class="text-wrapper">
                                    Gaywood
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection16checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Gorleston"  id="collection16checkModal">
                                  <div class="text-wrapper">
                                    Gorleston
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection17checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Great Yarmouth"  id="collection17checkModal">
                                  <div class="text-wrapper">
                                    Great Yarmouth
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection18checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Harleston"  id="collection18checkModal">
                                  <div class="text-wrapper">
                                    Harleston
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection19checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Hellesdon"  id="collection19checkModal">
                                  <div class="text-wrapper">
                                    Hellesdon
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="collection20heckModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Hethersett" id="collection20checkModal">
                                  <div class="text-wrapper">
                                    Hethersett
                                  </div>
                                </label>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersLocation()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersLocation(this.form.locationModalOption)">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
              <!-- Modal - Subject -->
              <div class="modal fade" id="filterModalSubject" tabindex="-1" aria-labelledby="filterModalLabelSubject" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="subjectModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelSubject">Subject</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        <div class="filter-section">
                          <ul class="section-list">
                            <li class="selection-item">
                              <label class="form-check-label" for="subject1checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Autism-friendly" id="subject1checkModal">
                                <div class="text-wrapper">
                                  Autism-friendly
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject2checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Baby and Toddlers" id="subject2checkModal">
                                <div class="text-wrapper">
                                  Baby and Toddlers
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject3checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Business & Enterprise" id="subject3checkModal">
                                <div class="text-wrapper">
                                  Business & Enterprise
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject4checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Crafting" id="subject4checkModal">
                                <div class="text-wrapper">
                                  Crafting
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject5checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Creativity" id="subject5checkModal">
                                <div class="text-wrapper">
                                  Creativity
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject6checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Cultural Activities" id="subject6checkModal">
                                <div class="text-wrapper">
                                  Cultural Activities
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject7checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Digital" id="subject7checkModal">
                                <div class="text-wrapper">
                                  Digital
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject8checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Family Fun" id="subject8checkModal">
                                <div class="text-wrapper">
                                  Family Fun
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject9checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Health and Wellbeing" id="subject9checkModal">
                                <div class="text-wrapper">
                                  Health and Wellbeing
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject10checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Heritage" id="subject10checkModal">
                                <div class="text-wrapper">
                                  Heritage
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject11checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Reading" id="subject11checkModal">
                                <div class="text-wrapper">
                                  Reading
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject12checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="SEND" id="subject12checkModal">
                                <div class="text-wrapper">
                                  SEND
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject13checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Skills and Training" id="subject13checkModal">
                                <div class="text-wrapper">
                                  Skills and Training
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject14checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Young People" id="subject14checkModal">
                                <div class="text-wrapper">
                                  Young People
                                </div>
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersSubject()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersSubject(this.form.subjectModalOption)">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
              <!-- Modal - Date -->
              <div class="modal fade" id="filterModalDate" tabindex="-1" aria-labelledby="filterModalLabelDate" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="dateModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelDate">Date range</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        (date picker goes here)
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
            </div>
            <hr class="ncc-hr">
            <h2 id="search-indicator" class="m0"></h3>
            <h3 id="multi-filter-indicator" class="m0"></h3>
            <h2 id="result-number-indicator" class="h3" aria-live="polite"></h2>
            <div class="row {{rowDefaults}}" id="page-content">
              <div class="col-12 col-sm-6 col-lg-4" id="result-1-wrapper">
                {{ generalcard.generalcard('Craft Group', 'Acle • Acle Library', '18 October 2022', '2pm', 'Free', '1 session • places available', 'Bring along your own craft activities and meet with other people to create and chat.', '', '/', 'card-light  library-event-card', 'October', '18', '1') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-2-wrapper">
                {{ generalcard.generalcard('Just a Cuppa', 'Acle • Acle Library', '25 October 2022', '2pm', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '25', '2') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-3-wrapper">
                {{ generalcard.generalcard('Lego Club', 'Acle • Acle Library', '25 October 2022', '4pm', 'Free', '1 session • places available', 'Each session brick defying Lego challenges are set to really get your children enjoying creative problem solving and just having fun with other children.', '', '/', 'card-light  library-event-card', 'October', '25', '3') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-4-wrapper">
                {{ generalcard.generalcard('Just a Cuppa', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '20', '4') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-5-wrapper">
                {{ generalcard.generalcard('Bounce and Rhyme', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Songs and rhymes for babies, toddlers and their parents and carers.', '', '/', 'card-light  library-event-card', 'October', '20', '5') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-6-wrapper">
                {{ generalcard.generalcard('STEAMLAB', 'Downham Market • Downham Market Library', '13 October 2022', '4pm', 'Free', '1 session • few spaces left', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'October', '13', '6') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4" id="result-7-wrapper">
                {{ generalcard.generalcard('Board Games for Adults', 'Downham Market • Downham Market Library', '08 November 2022', '2pm', 'Free', '1 session • places available', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'November', '8', '7') }}
              </div>
              
            </div>

            <nav aria-label="Acle library events pagination" style="float: left"> 
              <ul id="libraries-pagination-list" class="pagination libraries-pagination">
                
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>

    <script src="{{ '/scripts/utilities.js' | url }}" ></script>

  </section>
{% endblock %}
