{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries, local history and archives</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Libraries</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">What's on in Norfolk libraries</a></li>
          <li class="breadcrumb-item active">Libraries events search</li>
        </ol>
      </nav>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row {{rowDefaults}}">
        <div class="col-12">
          <h1 class="h2">Libraries events search</h1>
          <p class="text-muted mt-4 mb-2">Enter keywords to search libraries events</p>
          <div class="search-wrapper my-0">
            <form id="main-search-form" class="form-inline d-flex libraries-search-area" role="search" onsubmit="advancedSearchLink()" aria-label="Libraries events">
              <input id="libraries-search-input" class="form-control" type="search" placeholder="" aria-label="Search">
              <button id="libraries-search-button" class="btn btn-outline-light d-inline-flex justify-content-between" type="button" onclick="advancedSearchLink()">Find events</button>
            </form>
          </div>
          <div class="row {{rowDefaults}}">
            <div class="search-component">
              <h2 class="mt-2 mb-0">Search filters</h2>
              <div class="search-settings">
                <div class="filters">
                  <form id="locationDropdownForm">
                    <div id="toggleLocation" class="dropdown">
                      <button class="dropdown-btn btn btn-outline-dark" type="button" id="dropdownMenuLocation" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                        Location
                      </button>
                      <button class="modal-btn btn btn-outline-dark" type="button" id="filterModalLocationButton" data-bs-toggle="modal" data-bs-target="#filterModalLocation" aria-expanded="false"  data-bs-auto-close="outside">
                        Location
                      </button>
                      <div id="dropdown-container-location" class="dropdown-menu" aria-labelledby="dropdownMenuLocation">
                        <ul id="dropdown-menu-location">
                          <li class="selection-item">
                            <label class="form-check-label" for="location1check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Acle" id="location1check">
                              Acle
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location2check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Attleborough" id="location2check">
                              Attleborough
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location3check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Aylsham" id="location3check">
                              Aylsham
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location4check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Blofield" id="location4check">
                              Blofield
                            </label>
                          </li>

                          <li class="selection-item">  
                            <label class="form-check-label" for="location5check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Brundall" id="location5check">
                              Brundall
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location6check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Caister" id="location6check">
                              Caister
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location7check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Costessy" id="location7check">
                              Costessy
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location8check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Cromer" id="location8check">
                              Cromer
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location9check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Dereham" id="location9check">
                              Dereham
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location10check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Dersingham" id="location10check">
                              Dersingham
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location11check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Diss" id="location11check">
                              Diss
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location12check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Downham Market" id="location12check">
                              Downham Market
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location13check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Earlham Norwich" id="location13check">
                              Earlham Norwich
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location14check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Fakenham" id="location14check">
                              Fakenham
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location15check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Gaywood" id="location15check">
                              Gaywood
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location16check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Gorleston" id="location16check">
                              Gorleston
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location17check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Great Yarmouth" id="location17check">
                              Great Yarmouth
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location18check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Harleston" id="location18check">
                              Harleston
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location19check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Hellesdon" id="location19check">
                              Hellesdon
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="location20check">
                              <input type="checkbox" class="form-check-input" name="locationOption" value="Hethersett" id="location20check">
                              Hethersett
                            </label>
                          </li>
                        </ul>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearForm('locationSelections')">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyForm('location', 'locationSelections')">Apply filters</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="subjectDropdownForm">
                    <div id="toggleSubject" class="dropdown">
                      <button class="dropdown-btn btn btn-outline-dark" type="button" id="dropdownMenuSubject" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                        Subject
                      </button>
                      <button class="modal-btn btn btn-outline-dark" type="button" id="filterModalSubjectButton" data-bs-toggle="modal" data-bs-target="#filterModalSubject" aria-expanded="false"  data-bs-auto-close="outside">
                        Subject
                      </button>
                      <div id="dropdown-container-subject" class="dropdown-menu" aria-labelledby="dropdownMenuSubject">
                        <ul id="dropdown-menu-subject">
                          <li class="selection-item">
                            <label class="form-check-label" for="subject1check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Autism-friendly" id="subject1check">
                              Autism-friendly
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject2check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Baby and Toddlers" id="subject2check">
                              Baby and Toddlers
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject3check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Business & Enterprise" id="subject3check">
                              Business & Enterprise
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject4check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Crafting" id="subject4check">
                              Crafting
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject5check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Creativity" id="subject5check">
                              Creativity
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject6check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Cultural Activities" id="subject6check">
                              Cultural Activities
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject7check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Digital" id="subject7check">
                              Digital
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject8check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Family Fun" id="subject8check">
                              Family Fun
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject9check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Health and Wellbeing" id="subject9check">
                              Health and Wellbeing
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject10check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Heritage" id="subject10check">
                              Heritage
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject11check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Reading" id="subject11check">
                              Reading
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject12check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="SEND" id="subject12check">
                              SEND
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject13check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Skills and Training" id="subject13check">
                              Skills and Training
                            </label>
                          </li>
                          <li class="selection-item">
                            <label class="form-check-label" for="subject14check">
                              <input type="checkbox" class="form-check-input" name="subjectOption" value="Young People" id="subject14check">
                              Young People
                            </label>
                          </li>
                        </ul>
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearForm('subjectSelections')">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyForm('subject', 'subjectSelections')">Apply filters</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="dateDropdownForm">
                    <div id="toggleDate" class="dropdown">
                      <div class="duet-wrapper">
                        <duet-date-picker id="date" identifier="date" min="2022-01-01" max="2022-12-31"></duet-date-picker>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Modal - Location -->
              <div class="modal fade" id="filterModalLocation" tabindex="-1" aria-labelledby="filterModalLabelLocation" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="locationModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelLocation">Location</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        <div class="filter-section">
                            <ul class="section-list">
                              <li class="selection-item">
                                <label class="form-check-label" for="location1checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Acle" id="location1checkModal">
                                  <div class="text-wrapper">
                                    Acle
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location2checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Attleborough"  id="location2checkModal">
                                  <div class="text-wrapper">
                                    Attleborough
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">  
                                <label class="form-check-label" for="location3checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Aylsham"  id="location3checkModal">
                                  <div class="text-wrapper">
                                    Aylsham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location4checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Blofield"  id="location4checkModal">
                                  <div class="text-wrapper">
                                    Blofield
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location5checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Brundall"  id="location5checkModal">
                                  <div class="text-wrapper">
                                    Brundall
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location6checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Caister" id="location6checkModal">
                                  <div class="text-wrapper">
                                    Caister
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location7checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Costessy" id="location7checkModal">
                                  <div class="text-wrapper">
                                    Costessy
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location8checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Cromer" id="location8checkModal">
                                  <div class="text-wrapper">
                                    Cromer
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location9checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Dereham"  id="location9checkModal">
                                  <div class="text-wrapper">
                                    Dereham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location10checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Dersingham" id="location10checkModal">
                                  <div class="text-wrapper">
                                    Dersingham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location11checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Diss" id="location11checkModal">
                                  <div class="text-wrapper">
                                    Diss
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location12checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Downham Market" id="location12checkModal">
                                  <div class="text-wrapper">
                                    Downham Market
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location13checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Earlham Norwich" id="location13checkModal">
                                  <div class="text-wrapper">
                                    Earlham Norwich
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location14checkModal">
                                  <input type="checkbox" class="form-check-input"  name="locationModalOption" value="Fakenham" id="location14checkModal">
                                  <div class="text-wrapper">
                                    Fakenham
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location15checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Gaywood"  id="location15checkModal">
                                  <div class="text-wrapper">
                                    Gaywood
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location16checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Gorleston"  id="location16checkModal">
                                  <div class="text-wrapper">
                                    Gorleston
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location17checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Great Yarmouth"  id="location17checkModal">
                                  <div class="text-wrapper">
                                    Great Yarmouth
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location18checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Harleston"  id="location18checkModal">
                                  <div class="text-wrapper">
                                    Harleston
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location19checkModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Hellesdon"  id="location19checkModal">
                                  <div class="text-wrapper">
                                    Hellesdon
                                  </div>
                                </label>
                              </li>
                              <li class="selection-item">
                                <label class="form-check-label" for="location20heckModal">
                                  <input type="checkbox" class="form-check-input" name="locationModalOption" value="Hethersett" id="location20checkModal">
                                  <div class="text-wrapper">
                                    Hethersett
                                  </div>
                                </label>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersLocation()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersLocation(this.form.locationModalOption)">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
              <!-- Modal - Subject -->
              <div class="modal fade" id="filterModalSubject" tabindex="-1" aria-labelledby="filterModalLabelSubject" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="subjectModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelSubject">Subject</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        <div class="filter-section">
                          <ul class="section-list">
                            <li class="selection-item">
                              <label class="form-check-label" for="subject1checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Autism-friendly" id="subject1checkModal">
                                <div class="text-wrapper">
                                  Autism-friendly
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject2checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Baby and Toddlers" id="subject2checkModal">
                                <div class="text-wrapper">
                                  Baby and Toddlers
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject3checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Business & Enterprise" id="subject3checkModal">
                                <div class="text-wrapper">
                                  Business & Enterprise
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject4checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Crafting" id="subject4checkModal">
                                <div class="text-wrapper">
                                  Crafting
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject5checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Creativity" id="subject5checkModal">
                                <div class="text-wrapper">
                                  Creativity
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject6checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Cultural Activities" id="subject6checkModal">
                                <div class="text-wrapper">
                                  Cultural Activities
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject7checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Digital" id="subject7checkModal">
                                <div class="text-wrapper">
                                  Digital
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject8checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Family Fun" id="subject8checkModal">
                                <div class="text-wrapper">
                                  Family Fun
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject9checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Health and Wellbeing" id="subject9checkModal">
                                <div class="text-wrapper">
                                  Health and Wellbeing
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject10checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Heritage" id="subject10checkModal">
                                <div class="text-wrapper">
                                  Heritage
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject11checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Reading" id="subject11checkModal">
                                <div class="text-wrapper">
                                  Reading
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject12checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="SEND" id="subject12checkModal">
                                <div class="text-wrapper">
                                  SEND
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject13checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Skills and Training" id="subject13checkModal">
                                <div class="text-wrapper">
                                  Skills and Training
                                </div>
                              </label>
                            </li>
                            <li class="selection-item">
                              <label class="form-check-label" for="subject14checkModal">
                                <input type="checkbox" class="form-check-input" name="subjectModalOption" value="Young People" id="subject14checkModal">
                                <div class="text-wrapper">
                                  Young People
                                </div>
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="clearFiltersSubject()">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="applyFiltersSubject(this.form.subjectModalOption)">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
              <!-- Modal - Date -->
              <div class="modal fade" id="filterModalDate" tabindex="-1" aria-labelledby="filterModalLabelDate" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <form id="dateModalForm">
                      <div class="modal-header">
                        <h3 class="modal-title" id="filterModalLabelDate">Date range</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close filters"></button>
                      </div>
                      <div class="modal-body">
                        (date picker goes here)
                      </div>
                      <div class="modal-footer">
                        <div class="dropdown-bottom-section">
                          <button class="filter-control-btn clear-filters" type="button" onclick="">Clear filters</button>
                          <button class="filter-control-btn apply-filter" type="button" onclick="">Apply filters</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> 
            </div>
            <hr class="ncc-hr">
            <h2 id="search-indicator" class="m0"></h3>
            <h3 id="multi-filter-indicator" class="m0"></h3>
            <h2 id="result-number-indicator" class="h3" aria-live="polite"></h2>
            <div class="row {{rowDefaults}}" id="page-content">
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-1-wrapper">
                {{ generalcard.generalcard('1 Craft Group', 'Acle • Acle Library', '18 October 2022', '2pm', 'Free', '1 session • places available', 'Bring along your own craft activities and meet with other people to create and chat.', '', '/', 'card-light  library-event-card', 'October', '18', '1') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-2-wrapper">
                {{ generalcard.generalcard('2 Just a Cuppa', 'Acle • Acle Library', '25 October 2022', '2pm', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '25', '2') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-3-wrapper">
                {{ generalcard.generalcard('3 Lego Club', 'Acle • Acle Library', '25 October 2022', '4pm', 'Free', '1 session • places available', 'Each session brick defying Lego challenges are set to really get your children enjoying creative problem solving and just having fun with other children.', '', '/', 'card-light  library-event-card', 'October', '25', '3') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-4-wrapper">
                {{ generalcard.generalcard('4 Just a Cuppa', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '20', '4') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-5-wrapper">
                {{ generalcard.generalcard('5 Bounce and Rhyme', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Songs and rhymes for babies, toddlers and their parents and carers.', '', '/', 'card-light  library-event-card', 'October', '20', '5') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-6-wrapper">
                {{ generalcard.generalcard('6 STEAMLAB', 'Downham Market • Downham Market Library', '13 October 2022', '4pm', 'Free', '1 session • few spaces left', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'October', '13', '6') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-7-wrapper">
                {{ generalcard.generalcard('7 Board Games for Adults', 'Downham Market • Downham Market Library', '08 November 2022', '2pm', 'Free', '1 session • places available', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'November', '8', '7') }}
              </div>

              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-8-wrapper">
                {{ generalcard.generalcard('8 Craft Group', 'Acle • Acle Library', '18 October 2022', '2pm', 'Free', '1 session • places available', 'Bring along your own craft activities and meet with other people to create and chat.', '', '/', 'card-light  library-event-card', 'October', '18', '8') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-9-wrapper">
                {{ generalcard.generalcard('9 Just a Cuppa', 'Acle • Acle Library', '25 October 2022', '2pm', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '25', '9') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-10-wrapper">
                {{ generalcard.generalcard('10 Lego Club', 'Acle • Acle Library', '25 October 2022', '4pm', 'Free', '1 session • places available', 'Each session brick defying Lego challenges are set to really get your children enjoying creative problem solving and just having fun with other children.', '', '/', 'card-light  library-event-card', 'October', '25', '10') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-11-wrapper">
                {{ generalcard.generalcard('11 Just a Cuppa', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Fancy making some new friends, or just to have a good old chat?', '', '/', 'card-light  library-event-card', 'October', '20', '11') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-12-wrapper">
                {{ generalcard.generalcard('12 Bounce and Rhyme', 'Diss • Diss Library', '20 October 2022', '10am', 'Free', '1 session • places available', 'Songs and rhymes for babies, toddlers and their parents and carers.', '', '/', 'card-light  library-event-card', 'October', '20', '12') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-13-wrapper">
                {{ generalcard.generalcard('13 STEAMLAB', 'Downham Market • Downham Market Library', '13 October 2022', '4pm', 'Free', '1 session • few spaces left', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'October', '13', '13') }}
              </div>
              <div class="col-12 col-sm-6 col-lg-4 single-event-container" id="result-14-wrapper">
                {{ generalcard.generalcard('14 Board Games for Adults', 'Downham Market • Downham Market Library', '08 November 2022', '2pm', 'Free', '1 session • places available', 'Science, Technology and Fun.', '', '/', 'card-light  library-event-card', 'November', '8', '14') }}
              </div>
              
            </div>

            <nav aria-label="Acle library events pagination" style="float: left"> 
              <ul id="libraries-pagination-list" class="pagination libraries-pagination">
                
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>

    <script src="{{ '/scripts/utilities.js' | url }}" ></script>

    <script>
      window.onload = function() {
        fillFields();
        refreshResults();
      }
    </script>

  </section>
{% endblock %}
